<div class='modal__body'>
  <button class='modal__close-btn js-modal-close-btn'></button>
  <img
    class='modal__img-circle'
    src='https://s1.ticketm.net/dam/a/497/b8644000-6f16-4936-8a0b-c548cabd2497_62561_CUSTOM.jpg'
    alt='alt of img'
  />
  <div class='modal__info'>
    <img
      class='modal__info__img'
      src='https://s1.ticketm.net/dam/a/497/b8644000-6f16-4936-8a0b-c548cabd2497_62561_CUSTOM.jpg'
      alt='alt of img'
    />
    <ul class='modal__info__list'>
      <li class='modal__info__item'>
        <h2 class='modal__info__title'>INFO</h2>
        <p class='modal__info__text'>Atlas Weekend is the largest music festival
          in Ukraine. More than 200 artists will create a proper music festival
          atmosphere on 10 stages</p>
      </li>
      <li class='modal__info__item'>
        <h2 class='modal__info__title'>WHEN</h2>
        <time class='modal__info__text' datetime='2021-06-09 20:00'>
          <span class='modal__info__date'>2021-06-09</span><br />
          <span class='modal__info__time'>20:00&nbsp;
            <span
              class='modal__info__time-zone'
            >&#8317;Kyiv&#8725;Ukraine&#8318;</span></span>
        </time>
      </li>
      <li class='modal__info__item'>
        <h2 class='modal__info__title'>WHERE</h2>
        <p class='modal__info__text'>
          <span class='modal__info__location location'>
            <span class='location__city'>Kyiv&comma;&nbsp;Ukraine</span>
            <span class='location__place'>VDNH</span>
          </span>
        </p>
      </li>
      <li class='modal__info__item'>
        <h2 class='modal__info__title'>WHO</h2>
        <p class='modal__info__text'>Black and Peace</p></li>
      <li class='modal__info__item'>
        <h2 class='modal__info__title'>PRICES</h2>
        <ul class='modal__info__prices prices'>
          <li class='prices__item'>
            <span class='prices__item__standart'>Standart 300-500 UAH</span>
            <button class='prices__btn'>BUY TICKETS</button>
          </li>
          <li class='prices__item'>
            <span class='prices__item__vip'>VIP 1000-1500 UAH</span>
            <button class='prices__btn'>BUY TICKETS</button>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <button class='modal__more-btn'>MORE FROM THIS AUTHOR</button>
</div>