<div class='modal__backdrope'>
  <button class='modal__close-btn'></button>
  <img class='modal__img-circle' src='#' alt='alt of img' />
  <div class='modal__info'>
    <img class='modal__info__img' src='#' alt='alt of img' />
    <ul class='modal__info__list'>
      <li class='modal__info__item'>
        <h2 class='modal__info__title'>INFO</h2>
        <p class='modal__info__text'></p>
      </li>
      <li class='modal__info__item'>
        <h2 class='modal__info__title'>WHEN</h2>
        <time class='modal__info__text' datetime='2021-06-09 20:00'>
          <span class='modal__info__date'>2021-06-09</span>
          <span class='modal__info__time'>20:00&nbsp;
            <span
              class='modal__info__time-zone'
            >&#8317;Kyiv&#8725;Ukraine&#8318;</span></span>
        </time>
      </li>
      <li class='modal__info__item'>
        <h2 class='modal__info__title'>WHERE</h2>
        <p class='modal__info__text'>
          <span class='modal__info__location lacation'>
            <span class='location__city'>Kyiv&comma;&nbsp;Ukraine</span>
            <span class='location__place'>VDNH</span>
          </span>
        </p>
      </li>
      <li class='modal__info__item'>
        <h2 class='modal__info__title'>WHO</h2>
        <p class='modal__info__text'>The Black Eyed Peas</p></li>
      <li class='modal__info__item'>
        <h2 class='modal__info__title'>PRICES</h2>
        <ul class='modal__info__prices'>
          <li class='prices__item'>
            <span class='prices__item__standart'>Standart 300-500 UAH</span>
            <button class='prices__btn'>BUY TICKETS</button>
          </li>
          <li class='prices__item'>
            <span class='prices__item__vip'>VIP 1000-1500 UAH</span>
            <button class='prices__btn'>BUY TICKETS</button>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <button class='modal__more-btn'>MORE FROM THIS AUTHOR</button>
</div>