:root {
  /* color vars */
  --main-txt-clr: #ffffff;
  --accent-clr: #dc56c5;
  --secondary-txt-color: #939393;
  --modal-txt-clr: #0e0e0e;
  --modal-accent-txt-clr: #4c00fe;
  /* font vars */
  --main-fnt: 'Montserrat', sans-serif;
}

//  Adaptive
$mobile: 480px;
$tablet: 768px;
$desktop: 1280px;

$header-height: 446px;
