<footer class="footer">
  <div class="container footer_wrap">
    <button class="back-to-top">
      <svg class="back-to-top__icon trnstn" width="20px" height="20px">
        <use href="./images/svg/sprite.svg#arrow"></use>
      </svg>
    </button>
    <div class="wrap-copyright">
      <p class="copyright">&#169; 2022 | All Rights Reserved |</p>
    </div>

    <div class="footer_wrap-developed">
      <p>Developed with</p>
      <img
        class="footer_logo-img"
        src="./images/ukr.jpeg"
        alt="be brave like ukraine"
      />

      <p>
        by
        <a href="#" aria-label="GoIT Students">GoIT Students</a>
      </p>
    </div>
  </div>

  <!-- FOOTER MODAL -->

  <div class="backdrop__footer is-hidden" data-modal>
    <!-- is-hidden -->
    <div class="modal-footer">
      <button data-modal-close class="modal-close-btn">
        <svg class="close-icon" width="15" height="15">
          <use
            href="./images/svg/svg-social.svg#icon-close"
            width="11"
            height="11"
          ></use>
        </svg>
      </button>

      <h2 class="team__title">OUR TEAM</h2>
      <ul class="team__list list">
        <li class="team__item">
          <img
            class="team__img"
            src="./images/photo.jpg"
            alt="продук дизайнер"
          />
          <div class="team__employee">
            <h3 class="team__member">Игорь Демьяненко</h3>
            <p class="team__position">Team Lead</p>
            <ul class="member-social list">
              <li class="member-social__items">
                <a href="#" class="member-social__link trnstn">
                  <svg class="member-social__icon" width="15" height="15">
                    <use
                      href="./images/svg/svg-social.svg#icon-instagram"
                    ></use>
                  </svg>
                </a>
              </li>
              <li class="member-social__items">
                <a href="#" class="member-social__link trnstn">
                  <svg class="member-social__icon" width="15" height="15">
                    <use href="./images/svg/svg-social.svg#icon-twitter"></use>
                  </svg>
                </a>
              </li>
              <li class="member-social__items">
                <a href="#" class="member-social__link trnstn">
                  <svg class="member-social__icon" width="15" height="15">
                    <use href="./images/svg/svg-social.svg#icon-facebook"></use>
                  </svg>
                </a>
              </li>
              <li class="member-social__items">
                <a href="#" class="member-social__link trnstn">
                  <svg class="member-social__icon" width="15" height="15">
                    <use href="./images/svg/svg-social.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="team__item">
          <img
            class="team__img"
            src="./images/photo.jpg"
            alt="продук дизайнер"
          />
          <div class="team__employee">
            <h3 class="team__member">Игорь Демьяненко</h3>
            <p class="team__position">SCRAM Master</p>
            <ul class="member-social list">
              <li class="member-social__items">
                <a href="#" class="member-social__link trnstn">
                  <svg class="member-social__icon" width="15" height="15">
                    <use
                      href="./images/svg/svg-social.svg#icon-instagram"
                    ></use>
                  </svg>
                </a>
              </li>
              <li class="member-social__items">
                <a href="#" class="member-social__link trnstn">
                  <svg class="member-social__icon" width="15" height="15">
                    <use href="./images/svg/svg-social.svg#icon-twitter"></use>
                  </svg>
                </a>
              </li>
              <li class="member-social__items">
                <a href="#" class="member-social__link trnstn">
                  <svg class="member-social__icon" width="15" height="15">
                    <use href="./images/svg/svg-social.svg#icon-facebook"></use>
                  </svg>
                </a>
              </li>
              <li class="member-social__items">
                <a href="#" class="member-social__link trnstn">
                  <svg class="member-social__icon" width="15" height="15">
                    <use href="./images/svg/svg-social.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="team__item">
          <img
            class="team__img"
            src="./images/photo.jpg"
            alt="продук дизайнер"
          />
          <div class="team__employee">
            <h3 class="team__member">Игорь Демьяненко</h3>
            <p class="team__position">Developer</p>
            <ul class="member-social list">
              <li class="member-social__items">
                <a href="#" class="member-social__link trnstn">
                  <svg class="member-social__icon" width="15" height="15">
                    <use
                      href="./images/svg/svg-social.svg#icon-instagram"
                    ></use>
                  </svg>
                </a>
              </li>
              <li class="member-social__items">
                <a href="#" class="member-social__link trnstn">
                  <svg class="member-social__icon" width="15" height="15">
                    <use href="./images/svg/svg-social.svg#icon-twitter"></use>
                  </svg>
                </a>
              </li>
              <li class="member-social__items">
                <a href="#" class="member-social__link trnstn">
                  <svg class="member-social__icon" width="15" height="15">
                    <use href="./images/svg/svg-social.svg#icon-facebook"></use>
                  </svg>
                </a>
              </li>
              <li class="member-social__items">
                <a href="#" class="member-social__link trnstn">
                  <svg class="member-social__icon" width="15" height="15">
                    <use href="./images/svg/svg-social.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="team__item">
          <img
            class="team__img"
            src="./images/photo.jpg"
            alt="продук дизайнер"
          />
          <div class="team__employee">
            <h3 class="team__member">Игорь Демьяненко</h3>
            <p class="team__position">Developer</p>
            <ul class="member-social list">
              <li class="member-social__items">
                <a href="#" class="member-social__link trnstn">
                  <svg class="member-social__icon" width="15" height="15">
                    <use
                      href="./images/svg/svg-social.svg#icon-instagram"
                    ></use>
                  </svg>
                </a>
              </li>
              <li class="member-social__items">
                <a href="#" class="member-social__link trnstn">
                  <svg class="member-social__icon" width="15" height="15">
                    <use href="./images/svg/svg-social.svg#icon-twitter"></use>
                  </svg>
                </a>
              </li>
              <li class="member-social__items">
                <a href="#" class="member-social__link trnstn">
                  <svg class="member-social__icon" width="15" height="15">
                    <use href="./images/svg/svg-social.svg#icon-facebook"></use>
                  </svg>
                </a>
              </li>
              <li class="member-social__items">
                <a href="#" class="member-social__link trnstn">
                  <svg class="member-social__icon" width="15" height="15">
                    <use href="./images/svg/svg-social.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="team__item">
          <img
            class="team__img"
            src="./images/photo.jpg"
            alt="продук дизайнер"
          />
          <div class="team__employee">
            <h3 class="team__member">Игорь Демьяненко</h3>
            <p class="team__position">Developer</p>
            <ul class="member-social list">
              <li class="member-social__items">
                <a href="#" class="member-social__link trnstn">
                  <svg class="member-social__icon" width="15" height="15">
                    <use
                      href="./images/svg/svg-social.svg#icon-instagram"
                    ></use>
                  </svg>
                </a>
              </li>
              <li class="member-social__items">
                <a href="#" class="member-social__link trnstn">
                  <svg class="member-social__icon" width="15" height="15">
                    <use href="./images/svg/svg-social.svg#icon-twitter"></use>
                  </svg>
                </a>
              </li>
              <li class="member-social__items">
                <a href="#" class="member-social__link trnstn">
                  <svg class="member-social__icon" width="15" height="15">
                    <use href="./images/svg/svg-social.svg#icon-facebook"></use>
                  </svg>
                </a>
              </li>
              <li class="member-social__items">
                <a href="#" class="member-social__link trnstn">
                  <svg class="member-social__icon" width="15" height="15">
                    <use href="./images/svg/svg-social.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</footer>
