<footer class="footer">
  <div class="container footer_wrap">
    <button class="back-to-top">
      <svg class="back-to-top__icon trnstn" width="20px" height="20px">
        <use href="./images/svg/sprite.svg#arrow"></use>
      </svg>
    </button>
    <div class="wrap-copyright">
      <p class="copyright">&#169; 2022 | All Rights Reserved |</p>
    </div>

    <div class="footer_wrap-developed">
      <p>Developed with</p>
      <img
        class="footer_logo-img"
        src="./images/ukr.jpeg"
        alt="be brave like ukraine"
      />

      <p>
        by
        <a href="#" aria-label="GoIT Students">GoIT Students</a>
      </p>
    </div>
  </div>
</footer>
