<header>
  <section class="header__section container">
    <div class="logo__container">
      <a class="logo__link" href="./index.html">
        <svg class="logo__icon trnstn">
          <use
            class="logo__s"
            href="./images/svg/sprite.svg#desctop-logo"
          ></use>
        </svg>
      </a>
    </div>
    <div class="h-one__container trnstn">
      <span class="first-line__blink1 title trnstn">FIND</span>
      <span class="first-line__blink2 title trnstn">BEST</span>
      <span class="first-line__blink3 title trnstn">EVENTS</span>
      <br />
      <span class="second-line title trnstn">AROUND THE WORLD</span>
    </div>
    <form class="searching__form trnstn">
      <div class="searching__container">
        <label for="searching__label">
          <input
            autocomplete="off"
            name="search-all"
            id="search-all"
            class="start-searching__input input trnstn start-searching"
            type="text"
            placeholder="Start searching"
          />
          <svg class="searching__icon icon trnstn" width="12px" height="12px">
            <use
              class="searching__icon-s"
              href="./images/svg/sprite.svg#search-icon"
            ></use>
          </svg>
        </label>
      </div>
      <div class="searching__container">
        <svg
        class="choosing-country__icon icon trnstn"
        width="15px"
        height="10px"
      >
        <use href="./images/svg/sprite.svg#polygon"></use>
      </svg>
        <button class="choose-country__input input trnstn js-dropbtn" type="button">Choose country</button>
          <ul id="js-dropdown-content" class="country__list trnstn">
            <li class="country__item">1</li>
            <li class="country__item">2</li>
            <li class="country__item">3</li>
            <li class="country__item">4</li>
            <li class="country__item">5</li>
            <li class="country__item">1</li>
            <li class="country__item">2</li>
            <li class="country__item">3</li>
            <li class="country__item">4</li>
            <li class="country__item">5</li>
            <li class="country__item">1</li>
            <li class="country__item">2</li>
            <li class="country__item">3</li>
            <li class="country__item">4</li>
            <li class="country__item">5</li>
            <li class="country__item">1</li>
            <li class="country__item">2</li>
            <li class="country__item">3</li>
            <li class="country__item">4</li>
            <li class="country__item">5</li>
          </ul>
        <!-- <label for="searching__label">
          <select
            style="appearance: none"
            name="search-country"
            id="search-country"
            class="choose-country__input input trnstn"
            type="text"
            placeholder="Choose country"
          >
            <option selected="" disabled="" hidden="" value="">
              Choose country
            </option>
            <option value="">All countries</option>
          </select>
        </label> -->
      </div>
    </form>
  </section>
</header>
