<header>
    <div class="logo__container">
        <a class="logo__link" href="./index.html">
            <svg class="logo__icon">
              <use class="logo__s" href="./images/svg/logo.svg"></use>
            </svg>
          </a>
      </div>
    <div class="container">

    <h1 class="header__title">FIND BEST EVENTS<br>
      AROUND THE WORLD</h1>
    <div class="searching__container">
      <svg class="searching__icon">
          <use class="searching__icon-s" href="./images/svg/sprite.svg#search-icon" width="60px" height="25px"></use>
      </svg>
      <div class="input__container">
      <input class="start-searching input" type="text" placeholder="Start searching"/>
      <input class="choose-country input" type="text" placeholder="Choose country"/>
  </div>
    </div>
</div>
  </header>
  
  
