.events-section {
  display: flex;
  gap: 32px 20px;
  flex-wrap: wrap;

  @include media(tablet) {
    gap: 40px 32px;
  }
}

.event-card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 130px;
  font-size: 14px;
  text-align: center;
  gap: 8px;
  padding-top: 20px;
  cursor: pointer;

  @include media(tablet) {
    width: 152px;
    font-size: 16px;
  }

  @include media(desktop) {
    width: 288px;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 102px;
    height: 95px;
    border: 1px solid var(--accent-clr);
    opacity: 0.3;
    border-radius: 50px 0px;
    z-index: -1;

    @include media(tablet) {
      width: 120px;
      height: 112px;
    }

    @include media(desktop) {
      width: 227px;
      height: 212px;
    }
  }

  &__image {
    width: 120px;
    height: 151px;
    border-radius: 50px 0px;

    @include media(tablet) {
      width: 141px;
      height: 178px;
    }

    @include media(desktop) {
      width: 267px;
      height: 337px;
    }
  }

  &__title {
    font-weight: 700;
    color: var(--accent-clr);
  }

  &__date {
    font-weight: 400;
    color: var(--main-txt-clr);
  }

  &__location {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
    color: var(--main-txt-clr);

    &:hover:before {
      -webkit-animation: bounce-in-top 1.1s both;
      animation: bounce-in-top 1.1s both;
    }

    &:before {
      content: '';
      width: 8px;
      height: 11px;
      background: url('../images/svg/location_icon.svg') center no-repeat;
      background-size: cover;
      margin-right: 5px;
    }

    @include media(tablet) {
      font-size: 14px;
    }
  }
}

@keyframes bounce-in-top {
  0% {
    transform: translateY(-400%);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: translateY(0);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: translateY(-300%);
    animation-timing-function: ease-in;
  }
  72% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  81% {
    transform: translateY(-200%);
    animation-timing-function: ease-in;
  }
  90% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  95% {
    transform: translateY(-140%);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
}
