header {
  display: flex;
  max-width: 767px;
  height: 364px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #2f303a;
  @media screen and (max-width: 767px) {
    max-width: 767px;
    background-image: linear-gradient(
        to right,
        rgba(11, 11, 11, 0.5),
        rgba(11, 11, 11, 0.5)
      ),
      url(../images/bgc/top_s.jpg);
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      max-width: 767px;
      background-image: linear-gradient(
          to right,
          rgba(11, 11, 11, 0.5),
          rgba(11, 11, 11, 0.5)
        ),
        url(../images/bgc/top_s@2x.jpg);
    }
  }
  @include media(tablet) {
    @media screen and (max-width: 1279px) {
      max-width: 1279px;
      background-image: linear-gradient(
          to right,
          rgba(11, 11, 11, 0.5),
          rgba(11, 11, 11, 0.5)
        ),
        url(../images/bgc/top_m.jpg);
      @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        // max-width: 1279px;
        background-image: linear-gradient(
            to right,
            rgba(11, 11, 11, 0.5),
            rgba(11, 11, 11, 0.5)
          ),
          url(../images/bgc/top_m@2x.jpg);
      }
    }
  }
  @include media(desktop) {
    height: 446px;
    @media screen and (min-width: 1280px) {
      max-width: 1600px;
      background-image: linear-gradient(
          to right,
          rgba(11, 11, 11, 0.5),
          rgba(11, 11, 11, 0.5)
        ),
        url(../images/bgc/top_l.jpg);
      @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: linear-gradient(
            to right,
            rgba(11, 11, 11, 0.5),
            rgba(11, 11, 11, 0.5)
          ),
          url(../images/bgc/top_l@2x.jpg);
      }
    }
  }
}
.logo__container {
  position: absolute;
  top: 0;
  left: 0;
  width: 107px;
  height: 107px;
  backdrop-filter: blur(30px);
  border-bottom-right-radius: 100%;
  padding-top: 19px;
  padding-left: 20px;
  @include media(tablet) {
    width: 180px;
    height: 180px;
    padding-top: 23px;
    padding-left: 32px;
  }
  @include media(desktop) {
    width: 230px;
    height: 230px;
    padding-top: 41px;
    padding-left: 16px;
  }
}

.logo__icon {
  display: inline-block;
  width: 60px;
  height: 25px;
  fill: var(--main-txt-clr);
  &:hover,
  &:focus {
    fill: var(--accent-clr);
    filter: drop-shadow(0 0 20px #f8fcf9);
    }
  @include media(tablet) {
    width: 100px;
    height: 29px;
  }
  @include media(desktop) {
    width: 136px;
    height: 70px;
  }
}

.header__section {
  margin: 80px auto 0 auto;
  @include media(tablet) {
    margin-top: 40px;
  }
}

.header__title {
  text-align: center;
  color: var(--accent-clr);
  font-weight: 900;
  font-size: 18px;
  line-height: calc(22 / 18);
  margin-bottom: 24px;
  @include media(tablet) {
    font-size: 30px;
    line-height: calc(37 / 30);
  }
  @include media(desktop) {
    width: 608px;
    font-size: 50px;
    line-height: calc(61 / 50);
  }
}

.searching__form {
  display: flex;
  width: 280px;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  @include media(tablet) {
    width: 704px;
    flex-direction: row;
    gap: 32px;
  }
  @include media(desktop) {
    margin: 0 auto;
    width: 608px;
  }
}
.searching__container{
    position: relative;
    width: 280px;
    @include media(tablet) {
      width: 336px;
    }
    @include media(desktop) {
      width: 288px;
    }
}
// .input::placeholder:hover{
//   color: white;
// }
.input:hover::placeholder {
  color: white;
}
.input {
  &:focus,
  &:hover {
    outline: none;
    box-shadow: 0 0 0 2px var(--accent-clr);
    filter: drop-shadow(0 0 20px #dbc0f8);
    color: white;
  }
  outline: none;
  color: var(--secondary-txt-color);
  background: rgba(255, 255, 255, 0.2);
  padding: 10px 32px;
  border: none;
  border-radius: 20px;
  backdrop-filter: blur(20px);
  width: 280px;
  height: 40px;
  @include media(tablet) {
    width: 336px;
  }
  @include media(desktop) {
    width: 288px;
  }
}



.searching__icon {
    right: 35px;
    width: 12px;
    height: 12px;
@include media(tablet) {
    display: none;
  }
  @include media(desktop) {
    right: 35px;
    display: inline-block;
  }
}
.choosing-country__icon {
    right: 35px;
    width: 12px;
    height: 12px;
@include media(tablet) {
    right: 35px;
  }
  @include media(desktop) {
    right: 34px;
    
  }
}

.icon{    pointer-events: none;
  position: absolute;
  top: 15px;
  z-index: 29;
  fill: var(--secondary-txt-color);
  .input:hover ~ &,
.input:focus ~ & {
  fill: var(--accent-text-color);
}
}