.pagination {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-top: 60px;

  &__page-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 10px 0px;
    color: var(--main-txt-clr);

    &_active {
      border: 1px solid var(--accent-clr);
      color: var(--accent-clr);
    }
  }
}
